<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--
        Ces clefs sont éditables
        Editer seulement le champ "value"
      -->
    <add key="CharRemplissage" value="-" />
    <add key="ErreurPos" value="10" />
    <add key="CharIdentificationLigne" value=">"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Slack_Url" value="https://hooks.slack.com/services/"/>
    <add key="Slack_ApiKey" value="your_slack_api_key" />
    <add key="Slack_Channel" value="#slack_channel" />
    <add key="Slack_UserName" value="slack_user" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log_file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="database" connectionString="SERVER=127.0.0.1; DATABASE=DB_NAME; UID=DB_USER; PASSWORD=DB_PASSWORD"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>